@{
    ViewData["Title"] = "Users";
    @model IEnumerable<FactWorkflow.Models.Resolve>;
    int documentid = 0;

}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Документи</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Список документів
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Індекс</th>
                                <th>Дата</th>
                                <th>Кореспондент</th>
                                <th>Зміст</th>
                                <th>Резолюція</th>
                                <th>Статус</th>
                                <th>Документ</th>
                                @if (User.IsInRole("vrector") || User.IsInRole("dean"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>№</th>
                                <th>Індекс</th>
                                <th>Дата</th>
                                <th>Кореспондент</th>
                                <th>Зміст</th>
                                <th>Резолюція</th>
                                <th>Статус</th>
                                <th>Документ</th>
                                @if (User.IsInRole("vrector") || User.IsInRole("dean"))
                                {
                                <th></th>
                                }
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Document.DId == documentid)
                                {
                                    <tr>
                                        <td colspan="5"></td>
                                        @*<td>@item.RAddress</td>*@
                                        @*<td>@item.RStatus</td>*@
                                        <td colspan="2"></td>
                                    </tr>
                                }
                                else
                                {
                                    documentid = item.Document.DId;
                                    <tr>
                                        <td>@item.Document.DId</td>
                                        <td>@item.Document.DIndex</td>
                                        <td>@item.Document.DDate.ToString("dd.MM.yyyy")</td>
                                        <td>@item.Document.DFrom</td>
                                        <td>@item.Document.DAbout</td>
                                        @*<td>@item.RAddress</td>*@
                                        @*<td>@item.RStatus</td>*@
                                        <td><a href="~/Home/Download/@item.Document.FId">@Html.DisplayFor(modelItem => item.Document.File.FName)</a></td>
                                        @if(User.IsInRole("vrector") || User.IsInRole("dean")) 
                                        {
                                        @*<td align="center"><a href="~/Home/AddResolve?did=@item.DId&uid=@item.UId"><i class="fa fa-plus bigger-130 padding-2 grey"></i></a></td>*@
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

</div>
<!-- /.content-wrapper -->