@{
    ViewData["Title"] = "Users";
    @model IEnumerable<FactWorkflow.Models.Document>;
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Головна</a>
            </li>
            <li class="breadcrumb-item active">Документи</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Список документів
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="documentTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>№</th>
                                <th>Індекс</th>
                                <th>Дата</th>
                                <th>Вихідний індекс і дата</th>
                                <th>Кореспондент</th>
                                <th>Зміст</th>
                                <th>Документ</th>
                                <th width="8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr id="@item.DId">
                                    <td class=" details-control" align="center"><i class="fa fa-chevron-down"></i></td>
                                    <td>@item.DId</td>
                                    <td>@item.DIndex</td>
                                    <td>@item.DDate.ToString("dd.MM.yyyy")</td>
                                    <td>@item.DOut</td>
                                    <td>@item.DFrom</td>
                                    <td>@item.DAbout</td>
                                    <td><a href="~/Home/Download/@item.FId">@Html.DisplayFor(modelItem => item.File.FName)</a></td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" style="text-decoration: none;">
                                                    Керування
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/Home/SendResolve?did=@item.DId">Написати резолюцію</a>
                                                    @if (item.Histories.Count != 0)
                                                    {
                                                    <a class="dropdown-item" href="/Home/ApplyWork?did=@item.DId">Зняти з обліку</a>
                                                    }
                                                    <!-- <a class="dropdown-item">Назва 1</a> -->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->

    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2018</span>
            </div>
        </div>
    </footer>

    <div id="aModal" style="display:none;">
        <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Звіт</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="aBody"></div>
                    <div class="modal-footer" id="aFooter"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/spoilerTable.js"></script>

</div>
<!-- /.content-wrapper -->